<!DOCTYPE HTML>
<html>
<head>
	<title>Reminder App Login</title>
</head>

<body>
	<h1>Enter a username and password to log in or create a new user.</h1>

	<p>
	<form method="POST">
		<label for="username">User name: </label> <br>
		<input type="text" id="username" name="username"><br>
		<label for="password">Password: </label><br>
		<input type="text" id="password" name="password"><br>
		<input type="submit" value="Login">
	</form>
	</p>

	<p>
	<button onclick="location.href='/create_user';", method="GET">Create User</button>
	</p>
		

</body>
</html>

