<!DOCTYPE HTML>

<html>
	<head>
		<title>Update Reminders!</title>
	</head>


<body>

	<h1>Hello {{username}}</h1>
	<p>Please fill out the form with the update you wish to make.</p>

	<p>
		<table>
		<tr>
			<th>
				Reminder ID
			</th>
			<th>
				Reminder Name
			</th>
			<th>
				Reminder Category
			</th>
			<th>
				Reminder Date
			</th>
		</tr>
		{% for r in reminders %}
			<tr>
				<td>
					{{ r.reminder_id }}
				</td>
				<td>
					{{ r.task_name }}
				</td>
				<td>
					{{ r.category }}
				</td>
				<td>
					{{ r.reminder_date }}
				</td>
			</tr>
		{% endfor %}
		</table>
	</p>



	<p>
		<form method="POST">
			<table>
				<tr>
					<th>Reminder ID</th>
					<th>Name</th>
					<th>Category</th>
					<th>Date</th>
				</tr>

				<tr>
					<td>
						<label for="r_id"></label>
						<input type="int" id="r_id" name="r_id">
					</td>
					<td>
						<label for="r_name"></label>
						<input type="text" id="r_name" name="r_name">
					</td>
					<td>
						<label for="r_cat"></label>
						<input type="text" id="r_cat" name="r_cat">
					</td>
					<td>
						<label for="r_date"></label>
						<input type="datetime-local" id="r_date" name="r_date">
					</td>
				</tr>
				<br>
				<tr>
					<th>Update</th>
					<th>Delete</th>
				</tr>

				<tr>
					<td><input type="submit" name="update" value="Update"></td>
					<td><input type="submit" name="delete" value="Delete"></td>
					<td><input type="submit" name="welcome_page" value="Return to Welcome Page" formaction="{{ url_for('welcome', skey=skey) }}"></td>
				</tr>

			</table>
		</form>
	</p>

</body>
</html>

