<!DOCTYPE HTML>

<html>
	<head>
		<title>Welcome page!</title>
	</head>


<body>

	<h1>Hello {{username}}</h1>
	<p>Thank you for logging into our server</p>

	<p>
		<table>
		<tr>
			<th>
				Reminder Name
			</th>
			<th>
				Reminder Category
			</th>
			<th>
				Reminder Date
			</th>
		</tr>
		{% for r in reminders %}
			<tr>
				<td>
					{{ r.task_name }}
				</td>
				<td>
					{{ r.category }}
				</td>
				<td>
					{{ r.reminder_date }}
				</td>
			</tr>
		{% endfor %}
		</table>
	</p>

	<p>
		<table>
			<tr>
				<th>Create Reminder</th>
				<th>Update Reminder</th>
			</tr>
			<tr>
				<td><a href="/create_reminder/{{ skey }}">Link</a></td>
				<td><a href="/update_reminder/{{ skey }}">Link</a></td>
			</tr>
		</table>
	</p>

</body>
</html>

